body {
    font-family: Arial, sans-serif;
    margin: 20px;
    width: 100vw;
    height: 100vh;
    background-color: #f4f4f4;
    text-align: center;
}

h2 {
    color: black;
}

table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    background: white;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: lightcoral;
    color: white;
}

td {
    background-color: inherit;
}

td[rowspan] {
    background-color: #e0e0e0;
    font-weight: bold;
}

tbody tr:hover {
    background-color: lightskyblue;
    cursor: pointer;
}

tbody tr {
    transition: background-color 0.1s ease;
}
